Repository M-Sieger/MaklerMate-MVP: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"]
}

docs: comprehensive architecture analysis and refactoring roadmap
  docs/MIGRATION-GUIDE.md
  docs/architecture/ADR-001-Service-Layer-Pattern.md
  docs/architecture/ADR-002-Zustand-State-Management.md
  docs/architecture/ADR-003-Central-API-Client.md
  docs/architecture/CODE-ANALYSIS.md
  docs/architecture/REFACTORING-ROADMAP.md
Due: prettier --write

deleted makler-mate.zip
  makler-mate.zip
Due: none

docs: add corrected architecture analysis with evidence
  docs/architecture/CODE-ANALYSIS-CORRECTED.md
  docs/architecture/PR-SUMMARY.md
Due: prettier --write

fix: CSV escaping bug and update documentation roadmap
  docs/MIGRATION-GUIDE.md
  docs/architecture/REFACTORING-ROADMAP.md
  src/utils/crmExport.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(sprint1): complete tasks 1.1-1.3 (timeout, csv-bug, dedup localStorage)
  src/components/ImageUpload.jsx
  src/pages/ExposeTool.jsx
  src/utils/crmExport.js
  src/utils/crmExportLeads.js
  src/utils/fetchWithAuth.js
Due: prettier --write, eslint --fix --max-warnings=0

feat: Complete Sprint 1 (Quick Wins) - Code Quality & Stability
  package-lock.json
  package.json
  src/App.js
  src/components/CRM/LeadForm.jsx
  src/components/ErrorBoundary.jsx
  src/components/ExportButtons.jsx
  src/components/ExposeForm.jsx
  src/index.js
  src/styles/ErrorBoundary.module.css
  src/utils/validateEnv.js
Due: prettier --write, eslint --fix --max-warnings=0

feat: Phase 2A+B - API Layer & State Management
  package-lock.json
  package.json
  src/api/clients/apiClient.js
  src/api/services/authService.js
  src/api/services/exposeService.js
  src/api/utils/errorHandler.js
  src/api/utils/retry.js
  src/api/utils/validation.js
  src/stores/crmStore.js
  src/stores/exposeStore.js
Due: prettier --write, eslint --fix --max-warnings=0

feat: Phase 2C+D - Services & Utilities Consolidation
  src/hooks/useExpose.js
  src/services/LeadsStorageService.js
  src/services/exportService.js
  src/services/pdfService.js
  src/utils/leadHelpers.js
Due: prettier --write, eslint --fix --max-warnings=0

docs: Add DEVELOPMENT-INSTRUCTION.md and PHASE-3-PLAN.md
  DEVELOPMENT-INSTRUCTION.md
  docs/architecture/PHASE-3-PLAN.md
Due: prettier --write

docs: Add comprehensive Phase 3 migration guides and testing strategy
  docs/architecture/TESTING-STRATEGY.md
  docs/architecture/migrations/TASK-3.1-ExposeTool-Migration.md
  docs/architecture/migrations/TASK-3.2-ImageUpload-Migration.md
  docs/architecture/migrations/TASK-3.3-ExportButtons-Migration.md
Due: prettier --write

feat(ExposeTool): migrate to useExposeStore + useExpose hook
  src/pages/ExposeTool.jsx
  src/stores/exposeStore.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(ImageUpload): migrate to exposeStore, add moveImage support
  src/components/ImageUpload.jsx
  src/stores/exposeStore.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(ExportButtons): migrate to pdfService + exportService
  src/components/ExportButtons.jsx
  src/pages/ExposeTool.jsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(CRMTool): migrate to useCRMStore, complete Phase 3 migrations
  src/pages/CRM/CRMTool.jsx
Due: prettier --write, eslint --fix --max-warnings=0

chore: delete old unused hooks and utils - Phase 3 complete
  src/components/CRM/LeadRow.jsx
  src/hooks/useAIHelper.js
  src/hooks/useLocalStorageLeads.js
  src/hooks/usePersistentImages.js
  src/hooks/useSavedExposes.js
  src/utils/pdfExportExpose.js
Due: prettier --write, eslint --fix --max-warnings=0

feat: TypeScript Setup + Utils Migration (Phase E Tasks 3.1-3.2 partial)
  package-lock.json
  package.json
  src/api/utils/validation.ts
  src/utils/leadHelpers.js
  src/utils/leadHelpers.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

feat: Complete Utils Migration to TypeScript (Task 3.2 complete)
  src/api/utils/errorHandler.js
  src/api/utils/errorHandler.ts
  src/api/utils/retry.js
  src/api/utils/retry.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate exposeService to TypeScript
  src/api/services/exposeService.js
  src/api/services/exposeService.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Complete Services Migration to TypeScript (Task 3.3)
  src/services/LeadsStorageService.js
  src/services/LeadsStorageService.ts
  src/services/exportService.js
  src/services/exportService.ts
  src/services/pdfService.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate useExpose Hook to TypeScript (Task 3.4)
  src/hooks/useExpose.js
  src/hooks/useExpose.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate ExposeTool and CRMTool pages to TypeScript
  src/pages/CRM/CRMTool.tsx
  src/pages/ExposeTool.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate ImageUpload component and add CSS module types
  src/components/ImageUpload.tsx
  src/types/css-modules.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate ExposeTool dependency components
  src/components/ExportButtons.tsx
  src/components/ExposeForm.tsx
  src/components/GPTOutputBox.tsx
  src/components/SavedExposes.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate CRM components to TypeScript
  src/components/CRM/CRMCard.tsx
  src/components/CRM/LeadForm.tsx
  src/components/CRM/LeadTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate ExposeImageGallery and IvyBadge
  src/components/CRM/IvyBadge.tsx
  src/components/ExposeImageGallery.jsx
  src/components/ExposeImageGallery.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate remaining CRM components (Modal, LeadRow, LeadList, CRMExportLeads)
  src/components/CRM/CRMExportLeads.tsx
  src/components/CRM/LeadList.tsx
  src/components/CRM/LeadRow.tsx
  src/components/CRM/Modal.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate utility components (Loader, AuthGate, AuthButtons, ErrorBoundary)
  src/components/AuthButtons.tsx
  src/components/AuthGate.tsx
  src/components/ErrorBoundary.tsx
  src/components/Loader.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate all layout components (7 files)
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/TabbedForm.tsx
  src/components/ToolCards.tsx
  src/components/WhyMaklerMate.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Complete page migrations (Home, Login, Profile, ToolHub)
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/Profile.tsx
  src/pages/ToolHub.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Enable strict mode and fix all type errors
  src/components/AuthButtons.tsx
  src/components/ImageUpload.tsx
  src/pages/ExposeTool.tsx
  src/pages/Login.tsx
  src/pages/Profile.tsx
  src/services/pdfService.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

feat(ESLint): Add stricter TypeScript ESLint rules
  .eslintrc.json
  package.json
  src/components/CRM/LeadRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(TypeScript): Migrate Zustand stores to TypeScript
  src/components/SavedExposes.tsx
  src/pages/CRM/CRMTool.tsx
  src/pages/ExposeTool.tsx
  src/stores/crmStore.ts
  src/stores/exposeStore.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: update architecture docs for completed TypeScript migration
  docs/MIGRATION-GUIDE.md
  docs/REPO-ANALYSIS-REPORT.md
  docs/REPO-IMPROVEMENT-PLAN.md
  docs/architecture/ADR-001-Service-Layer-Pattern.md
  docs/architecture/ADR-002-Zustand-State-Management.md
  docs/architecture/ADR-003-Central-API-Client.md
  docs/architecture/CODE-ANALYSIS-CORRECTED.md
  docs/architecture/REFACTORING-ROADMAP.md
Due: prettier --write

docs: add product vision and strategy
  docs/product/PRODUCT-STRATEGY.md
  docs/product/PRODUCT-VISION.md
Due: prettier --write

docs: add product roadmap
  docs/product/PRODUCT-ROADMAP.md
Due: prettier --write

test: add Vitest testing infrastructure with comprehensive service tests
  package-lock.json
  package.json
  src/services/LeadsStorageService.test.ts
  src/services/LeadsStorageService.ts
  src/services/exportService.test.ts
  src/services/pdfService.test.ts
  src/test/setup.ts
  vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0

ci: add comprehensive CI/CD pipeline with GitHub Actions
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: prettier --write

test: add comprehensive E2E testing with Playwright
  .github/workflows/ci.yml
  .gitignore
  e2e/README.md
  e2e/crm-leads.spec.ts
  e2e/expose-generation.spec.ts
  e2e/navigation.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: complete TypeScript migration to 100%
  src/App.tsx
  src/api/clients/apiClient.ts
  src/api/services/authService.ts
  src/context/AuthContext.jsx
  src/context/AuthContext.tsx
  src/index.tsx
  src/lib/openai.js
  src/lib/openai.ts
  src/lib/supabaseClient.js
  src/lib/supabaseClient.ts
  src/routes/AppShell.jsx
  src/routes/AppShell.tsx
  src/routes/ProtectedRoute.jsx
  src/routes/ProtectedRoute.tsx
  src/utils/arrayHelpers.js
  src/utils/arrayHelpers.ts
  src/utils/crmExport.js
  src/utils/crmExport.ts
  src/utils/crmExportExpose.js
  src/utils/crmExportExpose.ts
  src/utils/crmExportLeads.js
  src/utils/crmExportLeads.ts
  src/utils/fetchWithAuth.js
  src/utils/fetchWithAuth.ts
  src/utils/imageEnhancer.js
  src/utils/imageEnhancer.ts
  src/utils/pdfExport.js
  src/utils/pdfExport.ts
  src/utils/pdfExportLeads.js
  src/utils/pdfExportLeads.ts
  src/utils/validateEnv.ts
  vitest.config.ts
Due: prettier --write, eslint --fix --max-warnings=0

test: add comprehensive test coverage for stores and utilities
  src/stores/crmStore.test.ts
  src/stores/exposeStore.test.ts
  src/stores/exposeStore.ts
  src/utils/leadHelpers.test.ts
Due: prettier --write, eslint --fix --max-warnings=0
